**Центр непрерывного образования НИУ ВШЭ**

## Программа «Python для автоматизации и анализа данных»

###  Строки. Ввод и форматирование.


*Автор: Татьяна Рогович, НИУ ВШЭ*

*Дополнения: Бурова Маргарита, НИУ ВШЭ*

**ТЕКСТ (СТРОКИ) (STR, STRING):** любой текст внутри одинарных или двойных кавычек. 
Важно: целое число в кавычках - это тоже строка, не целое число.

In [54]:
x = 'text'
print(type(x))
print(type('Hello, world!'))
print(type('2'))

<class 'str'>
<class 'str'>
<class 'str'>

Если попробовать сложить число-строку и число-число, то получим ошибку.

In [55]:
print('2' + 3)

TypeError: can only concatenate str (not "int") to str

Еще раз обратим внимание на текст ошибки. 

*TypeError: must be str, not int* - TypeError означает, что данная команда не может быть исполнена из-за типа какой-то из переменных. В данном случаем видим, что что-то должно быть `str`, когда оно типа `int`. Давайте попробуем сделать `3` тоже строкой. Кстати, не важно, какие вы используете кавычки (только если это не текст с кавычками внутри), главное, чтобы открывающая и закрывающая кавычки были одинаковые.

In [56]:
print('2' + "3")

23

Такая операция называется контакенацией (слиянием) строк.

Можно и умножить строку на число. Такая операция повторит нам строку заданное количество раз.

In [1]:
print('2' * 3)

222

Операции со строками тоже работают, если строки лежат внутри переменных.

In [1]:
word1 = 'Классный'
word2 = ' четверг'
print(word1 + word2)
word3 = word1 + word2 # можем результат контакенации положить в новую переменную
print(word3)

Классный четверг
Классный четверг

Строки можно преобразовывать в числа с помощью функции `int()`.

In [5]:
print(2 + int('2512')) # нет ошибки!

2514

С помощью функции str() мы можем превращать другие типы данных в строки.

In [5]:
print('abs' + str(123) + str(True))

abs123True

Обратите внимание: эти функции (`str`, `int`, `float` и другие) не меняют тип самих данных или переменных, в которых они хранятся. Если мы не перезапишем значение, то строка станет числом только в конкретной строчке команды, а ее тип не изменится.

In [6]:
a = '2342123'
print(type(a))
print(2 + int(a))
print(type(a))

<class 'str'>
2342125
<class 'str'>

In [7]:
a = int(a) # перезаписываем значение переменной
print(type(a)) # теперь изменился и тип

<class 'int'>

# Ввод данных. input()

Иногда возникает необходимость запросить какую-нибудь информацию у пользователя — попросить ввести её с клавиатуры. Это может быть нужно, например, когда мы пытаемся имитировать заполнение какой-нибудь формы (собрать информацию и обработать) или написать функцию, которая будет работать по-разному в зависимости от режима ("Если хотите выгрузить данные из файла, нажмите 1, если хотите вводить данные вручную, введите 2"). 

Запросить данные с клавиатуры можно с помощью функции `input()`:

In [8]:
name = input()

 Маргарита

In [9]:
print(name)

Маргарита

In [10]:
name = input('Как вас зовут? ')

Как вас зовут?  Маргарита

In [11]:
print(name)

Маргарита

А если ввести число?

In [7]:
age = input('Сколько вам лет?')

Сколько вам лет? 32

Посчитаем, сколько лет будет, когда человек будет вдвое старше:

In [8]:
print(age*2)

 32 32

Как это исправить? Переводом в другой тип данных.

In [9]:
age = int(input('Сколько вам лет?'))

Сколько вам лет? 32

In [10]:
print(age*2)

64

Раз мы не предлагаем пользователю ввести именно целое число, число может быть любым, даже дробным. Учтём это – будем конвертировать введенный текст в число с плавающей точкой.

In [16]:
num = float(input("Введите число: "))
print(num)

Введите число:  31.31

31.31

Нужно следить за тем, какие данные вы считываете и менять их при необходимости. Сравните два примере ниже.

In [12]:
x = input('Input x value: ')
y = input('Input y value: ')
print(x + y) # произошла склейка строк, по умолчанию input() сохраняет значение типа str

Input x value: 4
Input y value: 5
45

In [13]:
x = int(input('Input x value: '))
y = int(input('Input y value: '))
print(x + y) # вот теперь произошло сложение чисел

Input x value: 4
Input y value: 5
9

## Задача 1
## Pig Latin 1

Pig Latin - вымышленный язык, который в конец каждого слова подставляет 'yay' (на самом деле оригинальные условия задачи несколько хитрее, но мы будем к ней возвращаться по ходу курса.

**Формат ввода**  
Пользователь вводит слова.

**Формат вывода**
Слово на Pig Latin.


#### Примеры
Тест 1  
**Ввод:**  
apple 

**Вывод:**  
appleyay

In [11]:
# (∩｀-´)⊃━☆ﾟ.*･｡ﾟ

word = input('Введите слово: ')
print(word + 'yay')

Введите слово: Hi
Hiyay

## Задача 2

## x повторенное x раз в квадрате

Вводится целое число X. Повторите его X раз и возведите полученное число в квадрат. Напечатайте получившееся.

**Формат ввода**  
Целое число

**Формат вывод**  
Ответ на задачу

#### Примеры
Тест 1  
**Ввод:**  
2  

**Вывод:**  
484

In [28]:
# (∩｀-´)⊃━☆ﾟ.*･｡ﾟ

x = input('Введите число: ')
x1 = x * int(x)
print(x1)
print(int(x1) **2) #int(x1) * int(x1)

Введите число: 4
4444
19749136

# Вывод информации на экран

Как мы уже знаем, для вывода чего-либо на экран в Python существует функция `print()`:

In [17]:
print(5)
print('Hello!')

5
Hello!

Для того, чтобы вывести на экран сразу несколько объектов, нужно просто перечислить их через запятую в круглых скобках.

In [18]:
year = "2024"
mon = "09"
day = "26"

print(day, mon, year)

26 09 2024

По умолчанию в качестве разделителей (отделяющих объекты друг от друга) используются пробелы. Но при желании это можно поправить, добавив аргумент `sep` (от *separator* – разделитель):

In [19]:
print(day, mon, year, sep='')

26092024

In [20]:
print(day, mon, year, sep='-')

26-09-2024

In [21]:
print(day, mon, year, sep='!')

26!09!2024

В качестве разделителя можно использовать и специальные символы, например, символ для перехода на новую строку (`\n` – от *new line*) или символ для отступа в виде красной строки (`\t` – от *tabulation*):

In [22]:
print(day, mon, year, sep='\n')

26
09
2024

In [23]:
print(day, mon, year, sep='\t', end = '!')

26	09	2024!

При работе с функцией `print()` важно помнить, что эта функция используется исключительно для вывода текста на экран, она ничего не возвращает – не умеет сохранять то, что выводит на экран. Если попробуем сохранить результат её исполнения, получим пустой объект – объект особого типа `None`:

In [24]:
s = print(2, 3, sep='-')
print(s)

2-3
None

### Форматирование строк с f-strings

А теперь посмотрим на то, как подставлять значения в уже имеющийся текстовый шаблон, то есть форматировать строки. Чтобы понять, о чём идет речь, можно представить, что у нас есть электронная анкета, которую заполняет пользователь, и мы должны написать программу, которая выводит на экран введённые данные, чтобы пользователь мог их проверить.

Пусть для начала пользователь укажет своё имя и возраст:

In [25]:
name = input("Введите Ваше имя: ")
age = int(input("Введите Ваш возраст: "))

Введите Ваше имя:  Маргарита
Введите Ваш возраст:  31

Теперь наша задача – вывести на экран сообщение вида

    Ваше имя: Имя. Ваш возраст: возраст. 

В Python 3.6 и более поздних версиях появился продвинутый способ форматирования строк – *f-строки* или *f-strings* (от *formatted string literals*, неформально также описывают как *fast strings*). Этот способ позволяет не только подставлять в текстовый шаблон значения переменных, но и исполнять выражения с кодом внутри строки.

F-strings очень удобны и просты в использовании: в фигурных скобках внутри текстового шаблона нужно указать название переменной, из которой должно подставляться значение, а перед всей строкой добавить `f`, чтобы Python знал, что нам нужна именно f-string. Вернёмся к нашему примеру:

In [26]:
print(f"Ваше имя: {name}. Ваш возраст: {age}.")

Ваше имя: Маргарита. Ваш возраст: 31.

Если мы потеряем букву `f` перед строкой, Python не поймёт, что мы хотим особую строку и напечатает всё, как есть:

In [27]:
print("Ваше имя: {name}. Ваш возраст: {age}.")

Ваше имя: {name}. Ваш возраст: {age}.

В случае подстановки значений типа *float* в f-строку Python не будет дописывать лишние нули или убирать лишние знаки после точки, он будет выводить число «как есть»:

In [26]:
height = float(input())

# нет лишних знаков
print(f"Ваш рост: {height}.")

1.68
Ваш рост: 1.68.

Если нам всё же нужно зафиксировать число знаков после точки, их можно указать после названия переменной через `:`

In [27]:
print(f"Ваш рост: {height:.3f}.")

Ваш рост: 1.680.

Здесь `.3f` означает *float* с тремя знаками после точки. Если в самом числе знаков будет меньше, в конце автоматически допишется 0, если больше – произойдёт усечение и округление. Проверим – вместо трёх знаков запросим один:

In [28]:
print(f"Ваш рост: {height:.1f}.") # 1.68 -> 1.7

Ваш рост: 1.7.

Внутри f-строк также можно размещать целые выражения – небольшой код на Python. В таком случае код будет запущен, а результат его исполнения подставлен в текстовую строку.

In [31]:
round(height, 2)

1.68

In [29]:
print(f"Возраст в квадрате: {age ** 2}.")
print(f"Ваш рост: {round(height, 1)} м.")
print(f"Ваш рост: {height * 100} см.")

Возраст в квадрате: 900.
Ваш рост: 1.7 м.
Ваш рост: 168.0 см.