## Openpyxl - библиотека для работы с Excel-файлами.

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in d:\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in d:\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
import openpyxl

In [4]:
wb = openpyxl.load_workbook(filename='table_final.xlsx')

In [5]:
sheet = wb['Лист1']

In [6]:
sheet['A2']

In [7]:
sheet['A2'].value

'Иванов Иван'

In [10]:
from datetime import date

In [11]:
str(date.today())

'2025-04-01'

In [12]:
#from datetime import date 
today = str(date.today()) # достаем сегодняшнюю дату
print(today)

2025-04-01

In [13]:
date.today().strftime('%H:%M:%S %d-%m-%Y')

'00:00:00 01-04-2025'

In [14]:
d = date.today()

In [15]:
d.

SyntaxError: invalid syntax (Temp/ipykernel_5584/673927769.py, line 1)

In [17]:
pip install docxtpl

Collecting docxtpl
  Downloading docxtpl-0.19.1-py2.py3-none-any.whl (29 kB)
Collecting docxcompose
  Downloading docxcompose-1.4.0.tar.gz (20 kB)
Requirement already satisfied: jinja2 in d:\anaconda3\lib\site-packages (from docxtpl) (2.11.3)
Collecting python-docx>=1.1.1
  Downloading python_docx-1.1.2-py3-none-any.whl (244 kB)
Requirement already satisfied: lxml in d:\anaconda3\lib\site-packages (from docxtpl) (4.7.1)
Requirement already satisfied: typing-extensions>=4.9.0 in d:\anaconda3\lib\site-packages (from python-docx>=1.1.1->docxtpl) (4.12.2)
Requirement already satisfied: setuptools in d:\anaconda3\lib\site-packages (from docxcompose->docxtpl) (58.0.4)
Requirement already satisfied: six in d:\anaconda3\lib\site-packages (from docxcompose->docxtpl) (1.16.0)
Requirement already satisfied: babel in d:\anaconda3\lib\site-packages (from docxcompose->docxtpl) (2.9.1)
Requirement already satisfied: pytz>=2015.7 in d:\anaconda3\lib\site-packages (from babel->docxcompose->docxtpl) (2021.3)
Requirement already satisfied: MarkupSafe>=0.23 in d:\anaconda3\lib\site-packages (from jinja2->docxtpl) (1.1.1)
Building wheels for collected packages: docxcompose
  Building wheel for docxcompose (setup.py): started
  Building wheel for docxcompose (setup.py): finished with status 'done'
  Created wheel for docxcompose: filename=docxcompose-1.4.0-py3-none-any.whl size=23285 sha256=769a23c022af1afc314e1397dba5c4303b8a76751679cbb7db8c958e1ad9d228
  Stored in directory: c:\users\student\appdata\local\pip\cache\wheels\ed\d0\00\de6c3de933fbd6dd8eb7dfe2042084cd7d9eb89d0b748ccbf8
Successfully built docxcompose
Installing collected packages: python-docx, docxcompose, docxtpl
Successfully installed docxcompose-1.4.0 docxtpl-0.19.1 python-docx-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [18]:
from docxtpl import DocxTemplate
doc = DocxTemplate("temp_final.docx")

In [19]:
date

datetime.date

In [21]:
name = sheet['A2'].value
course = sheet['B2'].value
group = sheet['C2'].value
op = sheet['D2'].value
mobile = sheet['E2'].value
mail = sheet['F2'].value
date = sheet['G2'].value

# Данные для заполнения шаблона
context = {
    'name': name,
    'course': course,
    'group': group,
    'op': op,
    'mobile': mobile,
    'mail': mail,
    'date' : date.date(),
    'now_date': today
}

# Заполнение шаблона данными
doc.render(context)

# Сохранение документа
doc.save("документ2.docx")

In [22]:
for num in range(2,7):
    
    name = sheet['A'+str(num)].value
    course = sheet['B'+str(num)].value
    group = sheet['C'+str(num)].value
    op = sheet['D'+str(num)].value
    mobile = sheet['E'+str(num)].value
    mail = sheet['F'+str(num)].value
    date = sheet['G'+str(num)].value.date()
    context = {
    'name': name,
    'course': course,
    'group': group,
    'op': op,
    'mobile': mobile,
    'mail': mail,
    'date' : date,
    'now_date': today
    }
    doc.render(context)
    doc.save(name+' заявление.docx')

## Конвертация в PDF

In [23]:
!pip install docx2pdf

Collecting docx2pdf
  Downloading docx2pdf-0.1.8-py3-none-any.whl (6.7 kB)
Requirement already satisfied: pywin32>=227 in d:\anaconda3\lib\site-packages (from docx2pdf) (302)
Requirement already satisfied: tqdm>=4.41.0 in d:\anaconda3\lib\site-packages (from docx2pdf) (4.62.3)
Requirement already satisfied: colorama in d:\anaconda3\lib\site-packages (from tqdm>=4.41.0->docx2pdf) (0.4.4)
Installing collected packages: docx2pdf
Successfully installed docx2pdf-0.1.8

In [24]:
from docx2pdf import convert

convert("Еселеева Инна заявление.docx", "output.pdf")

  0%|          | 0/1 [00:00<?, ?it/s]

# Автоматизация Excel-отчетов

In [25]:
import pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference
import string

In [26]:
excel_file = pd.read_excel('supermarket_sales.xlsx') # считываем таблицу
excel_file[['Gender', 'Product line', 'Total']] # берем три колонки

     Gender            Product line      Total
0    Female       Health and beauty   548.9715
1    Female  Electronic accessories    80.2200
2      Male      Home and lifestyle   340.5255
3      Male       Health and beauty   489.0480
4      Male       Sports and travel   634.3785
..      ...                     ...        ...
995    Male       Health and beauty    42.3675
996  Female      Home and lifestyle  1022.4900
997    Male      Food and beverages    33.4320
998    Male      Home and lifestyle    69.1110
999  Female     Fashion accessories   649.2990

[1000 rows x 3 columns]

In [27]:
report_table = excel_file.pivot_table(index='Gender',
                                      columns='Product line',
                                      values='Total',
                                      aggfunc='sum').round(0) # создаем сводную таблицу

In [28]:
report_table # выводим сводную таблицу

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0,30437.0,33171.0,18561.0,30037.0,28575.0
Male,27236.0,23868.0,22974.0,30633.0,23825.0,26548.0

In [29]:
report_table.to_excel('report_2021.xlsx',
                      sheet_name='Report',
                      startrow=4) # сохраняем сводную таблицу

In [30]:
wb = load_workbook('report_2021.xlsx') # опять открываем файл
min_column = wb.active.min_column # находим минимальную активную колонку
max_column = wb.active.max_column # находим максимальную активную колонку
min_row = wb.active.min_row # находим минимальную активную строку
max_row = wb.active.max_row # находим максимальную активную строку

In [31]:
max_row

7

In [32]:
min_row

5

In [33]:
wb = load_workbook('report_2021.xlsx') # открывает таблицу
sheet = wb['Report'] # выбираем лист в переменную sheet
barchart = BarChart() # создаем столбчатую диаграмму
data = Reference(sheet,
                 min_col=min_column+1,
                 max_col=max_column,
                 min_row=min_row,
                 max_row=max_row)  # данные для диаграммы
categories = Reference(sheet,
                       min_col=min_column,
                       max_col=min_column,
                       min_row=min_row+1,
                       max_row=max_row)  #
barchart.add_data(data, titles_from_data=True) 
barchart.set_categories(categories)
sheet.add_chart(barchart, "B12")
barchart.title = 'Sales by Product line'
barchart.style = 5
wb.save('report_2021.xlsx')

In [34]:
sheet['B7'] = '=SUM(B5:B6)'
sheet['B7'].style = 'Currency'

In [35]:
list(string.ascii_uppercase)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [39]:
import string
alphabet = list(string.ascii_uppercase) # забираем буквы алфавита
excel_alphabet = alphabet[0:max_column] # берем буквы наших столбцов
print(excel_alphabet)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [41]:
wb = load_workbook('report_2021.xlsx')
sheet = wb['Report']
for i in excel_alphabet:
    if i!='A':
        sheet[f'{i}{max_row+1}'] = f'=SUM({i}{min_row+1}:{i}{max_row})'
        sheet[f'{i}{max_row+1}'].style = 'Currency'
sheet[f'{excel_alphabet[0]}{max_row+1}'] = 'Total'
wb.save('report_2021.xlsx')

In [43]:
import pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference
import string
def automate_excel(file_name):
    """У имени файла должна быть фиксированная структура: sales_month.xlsx"""
    # открывает экселевский файл
    excel_file = pd.read_excel(file_name)
    # сводная таблица
    report_table = excel_file.pivot_table(index='Gender', columns='Product line', values='Total', aggfunc='sum').round(0)
    # забираем месяц
    month_and_extension = file_name.split('_')[1]
    # сохраняем в файл
    report_table.to_excel(f'report_{month_and_extension}', sheet_name='Report', startrow=4)
    # открываем файл и выбираем лист
    wb = load_workbook(f'report_{month_and_extension}')
    sheet = wb['Report']
    # выбираем строки и столбцы
    min_column = wb.active.min_column
    max_column = wb.active.max_column
    min_row = wb.active.min_row
    max_row = wb.active.max_row
    # добавляем диаграмму
    barchart = BarChart()
    data = Reference(sheet, min_col=min_column+1, max_col=max_column, min_row=min_row, max_row=max_row) #including headers
    categories = Reference(sheet, min_col=min_column, max_col=min_column, min_row=min_row+1, max_row=max_row) #not including headers
    barchart.add_data(data, titles_from_data=True)
    barchart.set_categories(categories)
    sheet.add_chart(barchart, "B12") # место диаграммы
    barchart.title = 'Sales by Product line'
    barchart.style = 2 # выбираем стиль
    alphabet = list(string.ascii_uppercase)
    excel_alphabet = alphabet[0:max_column] #note:  A=0, B=1, C=2. 
    for i in excel_alphabet:
        if i!='A':
            sheet[f'{i}{max_row+1}'] = f'=SUM({i}{min_row+1}:{i}{max_row})'
            sheet[f'{i}{max_row+1}'].style = 'Currency'
    sheet[f'{excel_alphabet[0]}{max_row+1}'] = 'Total'
    # название месяца
    month_name = month_and_extension.split('.')[0]
    # форматируем
    sheet['A1'] = 'Sales Report'
    sheet['A2'] = month_name.title()
    sheet['A1'].font = Font('Arial', bold=True, size=20)
    sheet['A2'].font = Font('Arial', bold=True, size=10)
    wb.save(f'report_{month_and_extension}')
    return

In [26]:
excel_file_1 = pd.read_excel('sales_january.xlsx')
excel_file_2 = pd.read_excel('sales_february.xlsx')
excel_file_3 = pd.read_excel('sales_march.xlsx')
new_file = pd.concat([excel_file_1,
                      excel_file_2,
                      excel_file_3], ignore_index=True)
# export file
new_file.to_excel('sales_2021.xlsx')
# apply function
automate_excel('sales_2021.xlsx')

In [44]:
files = ['sales_january.xlsx','sales_february.xlsx','sales_march.xlsx']
for f in files:
    automate_excel(f)